<div id = "main">
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Muscle up your car</h1>
</div>
<div class="box">
    <div class = "rows">
        <div class = "col1" (click)="func('Audi');">
            <img src = "images/Audi.png" width="400px" height="200px">
        </div>
        <div class = "col2" (click)="func('BMW');">
            <img src="images/BMW.png" width="400px" height="200px">
        </div>
        <div class = "col3" (click)="func('Honda');">
            <img src = "images/Honda.png" width="400px" height="200px">
        </div>
    </div>
    <div class = "rows">
        <div class = "col4" (click)="func('Toyota');">
            <img src="images/Toyota.png" width="400px" height="200px">
        </div>
        <div class = "col5" (click)="func('Chevrolet');">
            <img src = "images/Chevrolet.png" width="400px" height="200px">
        </div>
        <div class = "col6" (click)="func('Lexus');">
            <img src = "images/Lexus.png" width="400px" height="200px">
        </div>
    </div>
</div>
