@import "common.css";

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }
#main{
    color:white;
    background-color: black;
    height: 28%;
    width: 100%;
    overflow: hidden;
}
#table1{
    margin-left: 20%;
}
#main h1{
    margin-top: 4%;
    text-align: center;
    vertical-align: middle;
    font-size: 79px;
}